body {
    font-family: Arial, sans-serif;
        background-image: url(../imagens/ALESSANDRA\ FUNDO\ .PNG);
        background-size: cover; /* Para cobrir todo o fundo */
        background-repeat: no-repeat; /* Para evitar repetição da imagem */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#F2F2F2
    
}
form {
    width: 20%;
    text-align: center;
    background-color: white;
    padding: 200px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="password"],
input[type="submit"] {
    
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}



.button {
    width: 100%;
    padding: 10px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 20px;
   box-sizing: border-box;
   background-color:#023859 ;
}












   


