
body {
    margin: 0;
    padding: 0;
    background-color: #a1afb6;
    background-image: url(../imagens/fundo\ tela\ eptran.png);
    background-size: cover; /* Para cobrir todo o fundo */
    background-repeat: no-repeat; /* Para evitar repetição da imagem */
}
.container {
    width: 145%;
    margin: auto;
    text-align: center;
    padding: 35px 2;
}
h1 {
    color: #000000;
}
p {
    color: #000000;
    max-width: 800px;
    margin: 20px auto;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #122ab3;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    width: 70px
    ;
}


