
body {
    margin: 0;
    padding: 0;
    background-color:  #023859;
}

.div{
    background-color:darkgrey;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 140%;
    text-align: center;
}



    
.container {
    width: 130%;
    margin: auto;
    text-align: center;
   
}

h1 {
    width: 120%;
    margin: auto;
    text-align: center;
    padding: 130px; px;
    color: #000000;
    
}

p {
    width: 130%;
    margin: auto;
    text-align: center;
    color: #000000;
  

}





