body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f93c2;
}
div {
    background-color: rgb(194, 190, 190);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
}
input[type="text"],
input[type="senha"],
input[type="cpf"] {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}
select[type="idade"], 
select[type="sexo"] {
    width: 90%;
    padding: 10px; 
    margin: 8px 0;
    display: inline-block;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}   
input[type="submit"] {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:  #4caf50; ;
}
